<%- include("partials/header.ejs", {userId}) %>

<body>

    <!-- signout option -->
    <div class="small-white-box">
        <form action="/signout" method="POST">
            <h1 class="small-prompt">Log Out</h1>
            <br>
            <input class="submit-btn button" type="submit" value="Submit">
        </form>
    </div>

</body>